:root {
    --background-color: #f5e1ff; /* Background warna violet muda */
    --text-color: #333;
    --header-color: #8a2be2; /* Warna header violet */
    --button-background-color: #9370db; /* Warna button violet */
    --button-hover-background-color: #7b68ee; /* Warna hover button violet */
    --button-text-color: #ffffff; /* Warna text button putih */
    --warning-background-color: #f39c12;
    --error-background-color: #e74c3c;
    --card-background-color: #ffffff;
    --box-shadow-color: rgba(0, 0, 0, 0.1);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #4b0082; /* Background dark violet */
        --text-color: #f0f2f5;
        --header-color: #dda0dd; /* Warna header violet terang */
        --button-background-color: #9370db;
        --button-hover-background-color: #7b68ee;
        --button-text-color: #ffffff; /* Warna text button putih */
        --warning-background-color: #d35400;
        --error-background-color: #c0392b;
        --card-background-color: #444;
        --box-shadow-color: rgba(255, 255, 255, 0.1);
    }
}

body {
    background-color: var(--background-color);
    font-family: 'Arial', sans-serif;
    color: var(--text-color);
}

h1 {
    color: var(--header-color);
    text-align: center;
    padding: 20px;
    font-size: 2.5em;
}

.stButton>button {
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s ease;
    border: none;
}

.stButton>button:hover {
    background-color: var(--button-hover-background-color);
}

.stWarning {
    background-color: var(--warning-background-color);
    color: var(--text-color);
    padding: 15px;
    border-radius: 8px;
    margin: 20px 0;
    font-size: 1.1em;
    display: flex;
    align-items: center;
}

.stWarning:before {
    content: '⚠️';
    margin-right: 10px;
}

.stError {
    background-color: var(--error-background-color);
    color: var(--text-color);
    padding: 15px;
    border-radius: 8px;
    margin: 20px 0;
    font-size: 1.1em;
    display: flex;
    align-items: center;
}

.stError:before {
    content: '❌';
    margin-right: 10px;
}

.stHeader {
    background-color: var(--header-color);
    color: var(--text-color);
    padding: 10px 20px;
    border-radius: 8px;
    margin: 20px 0;
    text-align: center;
    font-size: 1.5em;
}

.stCard {
    background-color: var(--card-background-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--box-shadow-color);
    margin: 20px 0;
}

.stCard h2 {
    margin-top: 0;
    font-size: 1.2em;
}

.stCard p {
    margin: 10px 0;
}

.stPieChart {
    margin: 40px 0;
}

.stQRCode {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.stImage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.stPlotlyChart {
    margin-top: -40px;
}

/* Additional Styles */
.stTransactionDetails {
    overflow-x: auto;
    white-space: nowrap;
}

.stExpander {
    background-color: var(--card-background-color);
    padding: 10px;
    border-radius: 8px;
    margin: 10px 0;
    box-shadow: 0 4px 8px var(--box-shadow-color);
}

.stExpander h2 {
    margin-top: 0;
    font-size: 1.2em;
}

.stExpander p {
    margin: 10px 0;
}

.stExpander img {
    max-width: 100%;
    height: auto;
}
